@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    color: var(--black);
    font-family: "Poppins", serif;
    font-size: 16px;
    background-color: var(--white);
}
:root{
    --acsent: #A5058E;
    --black: #111821;
    --gray: #706D70;
    --secondary-text: #260120;
    --main-bg: #F1F1F1;
    --white: #fff;

}
.container{
    
    max-width: 1230px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}
.section-title {
    font-size: 34px;
    font-weight: 600;
}

/* ----  HEADER----- */
.header{
    padding-top: 46px;
    background-color: var(--main-bg);
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}
.logo {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: var(--black);
    padding-right: 12px;
    padding-bottom: 4px;
   
}
.logo::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    background-color: var(--acsent);
    border-radius: 50%;
}
.nav {
}
.nav-list {
    display: flex;
    gap: 120px;
    flex-wrap: 500;
    font-size: 18px;
}
.nav-item {
}
.nav-link {
    color: var(--black);
}
.nav-link:hover{
    color: var(--acsent);
}
.nav-link.active{
    color: var(--gray);
}
.header-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.header-content {
    margin-top: 124px;
    max-width: 500px;
}
.header-img {
    
}
.hero-img{
    width: 494px;
    height: 603px;
    
}
.header-title{
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
    color: var(--acsent);
}
.header-desc{
    line-height: 2;

}
/* ----SERVICES----- */
.services{
    padding: 90px 0;
}
.services-list{
    display: flex;
    gap: 30px;
}
.services-card {
    width: 370px;
    
}
.service-card-img {
}
.card-icon {
}
.service-card-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--acsent);
}
.service-card-desc {
    font-size: 14px;
    line-height: 2;
}
/* -----PORTFOLIO------ */
.portfolio {
    background-color: var(--main-bg);
    padding: 90px 0;
}

.portfolio-title {
    text-align: center;
    margin-bottom: 70px;
}

.projects-list {
    text-align: center;
    max-width: 930px;
    margin: 0 auto;
}

.prject-img {
    width: 930px;
    height: 500px;
    margin-bottom: 40px;
}
.project-item:not(:last-child){
    margin-bottom: 90px;
}
.project-title a{
    font-size: 18px;
    color: var(--secondary-text);
    text-decoration: underline;
}
/* -----FOOTER----- */
.contacts {
    padding: 90px 0;
    text-align: center;
}
.contacts-container{
   width: 296px;
   margin: 0 auto;
   
}
.contacts-title {
    margin-bottom: 40px;
}

.contacts-content {
    font-size: 18px;
    margin-bottom: 40px;
}
.contacts-btn {
    margin-bottom: 80px;
}
.message-btn {
    display: inline-block;
    padding: 10px 22px;
    background-color: var(--black);
    border-radius: 30px;
    font-size: 18px;
    color: var(--white);
}
.message-btn:hover, .message-btn:focus{
    background-color: var(--acsent);
}
.contacts-sosial {
    display: flex;
    gap: 42px;
    align-items: center;
    justify-content: center;
}
.contact-item {
}

.sosial-icon {
    fill: var(--gray);
}
.sosial-link:hover > .sosial-icon,
.sosial-link:focus > .sosial-icon {
    fill: var(--acsent);
}

